<a class="anchor" id="anch_top"> </a>
# Heart Disease Classifier (using [Na√Øve-Bayes](https://en.wikipedia.org/wiki/Naive_Bayes_classifier))

The aim of this project is to answer the following question:
* Given a set of attributes from a patient dataset, does this patient have heart disease?

To get a good idea on what tasks are required for this project, I will follow the "Data Science Process" (see figure below). This approach is inspired by Chanin Nantasenamat's (a.k.a. the Data Professor's) [post](https://towardsdatascience.com/the-data-science-process-a19eb7ebc41b). 

<!-- ![img](https://miro.medium.com/max/552/1*PzzcJA-cwXQ8hwlpM4DwbA@2x.jpeg) -->


There are 5 Data Science steps:
* [Collection](#Collection)
* [Cleaning](#Cleaning)
* [Exploratory Data Analysis (EDA)](#EDA)
* Model Building
* Model Deployment

Let's get started

<a id='Collection'></a>
### A) Collection

Here we will ingest the data and check some relevant quantities.

In [1]:
import numpy as np
import pandas as pd

In [5]:
data_path = 'data/heart.csv'
data = pd.read_csv(data_path, sep=',')

In [6]:
data.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

<a id='Cleaning'></a>
### B) Cleaning

In [9]:
data.describe([.05,.95])

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5%,39.100000,0.000000,0.000000,108.000000,175.000000,0.000000,0.000000,108.100000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
95%,68.000000,1.000000,3.000000,160.000000,326.900000,1.000000,1.000000,181.900000,1.000000,3.400000,2.000000,3.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# Make keys more human-readable

# Check for missing data

# Check for nan-data


<a style="color:blue" href="#anch_top">Back to top</a>

Have a look at [collection](#Collection)

<a id='EDA'></a>
### C) Exploratory Data Analysis

In [ ]:
# Look at statistical values by keys.

# Have a look at histogram for age groups and sex (Who are we looking at?)

# Have a look at range of values for a class. Are they integers? Measurements?